<div class="infobox">
  <% spaces = location.active_spaces %>
  <span><strong>Address: </strong></span><br>
  <span><%= location.full_street_address %></span><br>
  <span><strong>Spaces Available: </strong></span><br>
  <% unless spaces.empty? %>
    <ol>
      <% spaces.each do |space| %>
        <% if space.space_available?(space_params) %>
          <li><strong>Size: </strong><%= space.size %>  <strong>Price: </strong><%= space.price %> <%= link_to "Book", location_path(location) %></li>
        <% end %>
      <% end %>
    </ol>
  <% end %>
</div>
