
<%= render template: "spaces/_show" %>

<div class="right-container">
  <h2>Reserve this Spot</h2>
  <%= render template: "reservations/_form" %>

  <h4>Your Reservations for this Spot: </h4>
  <% @users_reservations.each do |reservation| %>
    <%= render template: "reservations/show", locals: {reservation: reservation} %>
  <% end %>
</div>
