<div class="col-xs-12">
  <div class="form-group">
    <label>Location for Space</label>
    <select class="selectpicker form-control">
      <option value=0>New Location</option>
      <% @locations.each do |location| %>
        <option value=<%= location.id %>><%= location.street_address %></option>
      <% end %>
    </select>
  </div>
</div>
