<!-- map goes here -->
<!-- get started button -->
<div class="row-container">
  <div class="block-container">
    <div class="card">
    <i class="material-icons">&#xE0C8;</i>
      Find a Spot
    </div>
  </div>
  <div class="block-container">
    <div class="card">
      <i class="material-icons">&#xE531;</i>
      Park your Car
    </div>
  </div>
  <div class="block-container">
    <div class="card">
      <i class="material-icons">&#xE566;</i>
      Get Going!
    </div>
  </div>
</div>
