<!-- map goes here -->
<!-- get started button -->
<div class="landing-container">
  <h2>Never drive around in circles again.</h2>
  <h3>View parking spaces in your area, updated in real time.</h3>
  <a href="/search" class="btn btn-primary home-btn" >Find Parking</a>
</div>
<div class="row-container">
  <div class="block-container">
    <div class="homepage-card card">
      <div class="card-items">
        <i class="material-icons">&#xE0C8;</i>
        <h3>Find a Spot</h3>
      </div>
    </div>
  </div>
  <div class="block-container">
    <div class="homepage-card card">
      <div class="card-items">
        <i class="material-icons">&#xE531;</i>
        <h3>Park your Car</h3>
      </div>
    </div>
  </div>
  <div class="block-container">
    <div class="homepage-card card">
      <div class="card-items">
        <i class="material-icons">&#xE566;</i>
        <h3>Get Going!</h3>
      </div>
    </div>
  </div>
</div>
