<!-- map goes here -->
<!-- get started button -->
<div class="landing-container">
  <h2>Never drive around in circles again.</h2>
  <h3>View parking spaces in your area, updated in real time.</h3>
  <button class="find-parking">Find Parking</button>
</div>
<div class="row-container">
  <div class="block-container">
    <div class="homepage-card card">
      <div class="card-items">
        <i class="material-icons" style="color:#3a3a3a">&#xE0C8;</i>
        <h3 style="color:#3a3a3a">Find a Spot</h3>
      </div>
    </div>
  </div>
  <div class="block-container">
    <div class="homepage-card card">
      <div class="card-items">
        <i class="material-icons" style="color:#3a3a3a">&#xE531;</i>
        <h3 style="color:#3a3a3a">Park your Car</h3>
      </div>
    </div>
  </div>
  <div class="block-container">
    <div class="homepage-card card">
      <div class="card-items">
        <i class="material-icons" style="color:#3a3a3a">&#xE566;</i>
        <h3 style="color:#3a3a3a">Get Going!</h3>
      </div>
    </div>
  </div>
</div>
