<h3>Average Rating</h3>
<p>
  <div class="rating-container">
    <div class="rating" style="display:none;"><%= rated_thing.average_rating * 20 %></div>
    <div class="star-ratings">
      <div class="star-ratings-top"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
      <div class="star-ratings-bottom"><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
    </div>
  </div>
</p>
