<div class="reservation-card" id=<%= reservation.id %>>
  <table>
    <tr>
      <td>Start:</td>
      <td><%= reservation.start_time%></td>
    </tr>
    <tr>
      <td>End:</td>
      <td><%= reservation.end_time%></td>
    </tr>
  </table>
  <% if reservation.occupant_id == current_user.id %>
    <% if reservation.ratings.length < 1 %>
      <div class="rateYo"></div>
    <% end %>
  <% end %>
</div>
