body {
  padding:10px;
}

nav {
  padding-left:10px;
  position:absolute;
  top:10px;
  right:0;
  width:100%;
  text-align:right;
}

.left-align {
  text-align: left;
  font-size: 200%;
}

nav ul {
  position: absolute;
  top:10px;
  right:0;
}

nav li {
  list-style-type:none;
  display:inline;
  padding: 8px 15px 8px 15px;
  border-right: 2px solid black;
}

nav li:last-child{
  border:none;
}

.landing-container {
  background-image: url("http://1.bp.blogspot.com/-3h5zMf5xi-w/UfsyeLeLz7I/AAAAAAAABt8/TpMuMHgj3ts/s1600/watercolor_lQZ_DMeBuNU.jpeg");
  max-width:800px;
  height:200px;
  margin:auto;
}

.page-container {
  margin-top:50px;
}

.block-container {
  width:33%;
  margin:auto;
  float:left;
}

.row-container {
  max-width:800px;
  margin:auto;
  /*background:lightgray;*/
  height:200px;
}

.homepage-card {
  margin:auto;
  background:white;
}

.reservation-card {
  width:100%;
  background:lightgray;
  padding:10px;
  border-radius:10px;
}

.card {
  display:flex;
  align-items:center;
  justify-content: center;
  text-align:center;
  padding:0;
  width: 200px;
  min-height:200px;
  border: 3px solid lightgray;
  border-radius: 10px;
}

.card-items {
  /*max-width:50%;*/

}

i.material-icons {
  font-size:900%;
  color:#6A8D92;
}

.side-container {
  width:33%;
  float:left;
}

.right-container {
  float:left;
  /*margin-left:40px;*/
}

.space-desc {
  float:left;
}

footer {
  clear:both;
}

@media (max-width: 700px) {
  .block-container  {
    width: 50%;
    float: left;
  }

  .card {
    width:100%;
    float:left;
  }
}

@media (max-width: 560px) {
  .block-container  {
    width: 100%;
    float: none;
  }
  .side-container {
    width:100%;
  }
  .card {
    width:100%;
  }
}

#messages {
  max-height: 450px;
  overflow-y: auto;
  .avatar {
    margin: 0.5rem;
  }
}

.card {
  max-height: 100px;
}
