<div id="location-map"></div>

<%= hidden_field_tag "location", @location.id, {  :id => "location",
                                                  "data-latitude" => @location.latitude,
                                                  "data-longitude" => @location.longitude } %>
